* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img[src$="svg"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input[type="email"] {
  outline: none;
}

.header {
  padding: 40px;
  padding-bottom: 0;
  /* Navigation */
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 836px;
          column-gap: 836px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  text-transform: capitalize;
}

.header__nav ul a {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 37px 0 88px;
}

.intro h1 {
  font-weight: 700;
  font-size: 2.629em;
  font-family: "Raleway", sans-serif;
}

.intro p {
  width: 474px;
}

.intro img {
  width: 40vw;
}

.info {
  max-width: 540px;
  row-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.email-input, .btn-register {
  border: 1px solid #070439;
  width: 282px;
  height: 40px;
  padding-left: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.15);
}

.email-input:focus, .btn-register:focus {
  border-width: 1px;
}

.btn-register {
  border: none;
  padding: 0;
  margin-left: 20px;
  width: 175px;
  color: #f8f8fe;
  background: #3065f8;
  cursor: pointer;
}

.btn-register:hover {
  background: rgba(48, 101, 248, 0.7);
}

.btn-register:focus + :invalid {
  border-color: #f5665c;
}

.btn-register:focus + :valid {
  border-color: #3065f8;
}

.bg-curve {
  background: url("../images/bg-curve-desktop.svg");
  height: 100px;
  width: 106.3%;
  margin-left: -40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #070439;
  background: #f8f8fe;
  padding: 40px 40px 60px 40px;
}

.body h1 {
  font-size: 30px;
}

.body__content {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  max-width: 520px;
}

.body__content span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #3c9f8f;
  border-bottom: 1px solid;
  border-color: inherit;
  padding-bottom: 5px;
  cursor: pointer;
}

.body__content span:hover {
  opacity: 0.5;
}

.body__content span::after {
  content: "";
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background: url("../images/icon-arrow.svg");
}

.body img[src*="illustration-2"] {
  width: 43vw;
  -webkit-transform: translateX(143px);
          transform: translateX(143px);
}

.testimonial-box {
  background: #fff;
  width: 367px;
  padding: 20px 40px;
  -webkit-box-shadow: 0 0 6px 4px #00000008;
          box-shadow: 0 0 6px 4px #00000008;
}

.testimonial-box__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.3em;
}

.testimonial-box__avatar img {
  width: 35px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #585989;
  color: #f8f8fe;
  padding: 0 15px 0 64px;
  height: 230px;
}

.section-2__content {
  width: 429px;
}

.section-2__content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.section-2__register-2 {
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.section-2__register-2 .section-2__btn-register {
  margin: 0;
  margin-top: 10px;
  width: 230px;
}

.section-2__register-2 .section-2__email-input {
  width: 480px;
}

.footer {
  background: #070439;
  color: #fff;
  padding: 70px 50px;
}

.footer img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin-bottom: 10px;
}

.footer__info, .footer__info .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 250px;
          column-gap: 250px;
  line-height: 34px;
}

.footer__info .footer__contact :first-child::before,
.footer__info .footer__contact :last-child::before {
  content: "";
  position: absolute;
  left: 10px;
  margin-top: 7px;
}

.footer__info .footer__contact :first-child::before {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon-phone.svg");
}


.footer__info .footer__contact :last-child::before {
  width: 20px;
  height: 16px;
  background-image: url("../images/icon-email.svg");
}

.footer__info .footer__list span {
  cursor: pointer;
  font-weight: 400;
  text-transform: capitalize;
}

.footer__info .footer__list span:hover {
  color: #3065f8;
}

.sci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sci i {
  margin-right: 10px;
  padding: 7px;
  border: 1.999px solid #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sci i:hover {
  color: #3065f8;
  border-color: #3065f8;
}

.attribution a {
  text-decoration: underline;
  color: #fff;
}

.attribution a:hover {
  text-decoration: none;
  color: #3065f8;
}

@media screen and (min-width: 2560px) {
  .header img[alt="Fylo"] {
    width: 340px;
    height: 100px;
  }
  .header__nav {
    -webkit-column-gap: 62vw;
            column-gap: 62vw;
  }
  .header__nav ul {
    -webkit-column-gap: 120px;
            column-gap: 120px;
  }
  .header__nav ul a {
    font-size: 27px;
  }
  .intro {
    margin: 100px 0 118px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info h1 {
    font-size: 5.029em;
    width: 1100px;
  }
  .info p {
    font-size: 2em;
    width: 950px;
  }
  .register {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .email-input, .btn-register,
  .btn-register {
    height: 81px;
    border-radius: 5px;
    font-size: 2em;
  }
  .email-input, .btn-register {
    width: 630px;
  }
  .btn-register {
    width: 300px;
  }
  .bg-curve {
    height: 125px;
  }
  .body {
    padding: 90px 40px 200px 90px;
  }
  .body h1 {
    font-size: 5.029em;
  }
  .body__content {
    margin: 50px 0;
    max-width: 920px;
    font-size: 32px;
  }
  .body__content p {
    font-size: 0.8em;
  }
  .body__content p + span {
    font-size: 0.8em;
  }
  .testimonial-box {
    width: 667px;
    height: 360px;
    border-radius: 12px;
  }
  .testimonial-box img {
    width: 56px;
  }
  .testimonial-box p,
  .testimonial-box h3 {
    font-size: 2em;
  }
  .section-2 {
    height: 400px;
  }
  .section-2__content h1 {
    font-size: 4em;
    width: 600px;
    margin-bottom: 33px;
  }
  .section-2__content p {
    font-size: 2em;
    width: 860px;
  }
  .section-2__register-2 {
    row-gap: 22px;
  }
  .section-2__register-2 .section-2__btn-register {
    width: 420px;
  }
  .section-2__register-2 .section-2__email-input {
    width: 900px;
  }
  .footer img {
    width: 280px;
  }
  .footer__info, .footer__info .footer__list {
    line-height: 60px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: -160px;
  }
  .footer__info .footer__contact p {
    font-size: 2em;
  }
  .footer__info .footer__contact p:first-child::before, .footer__info .footer__contact p:last-child::before {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    left: 50px;
    margin-top: 21px;
  }
  .footer__info .footer__list {
    -webkit-column-gap: 500px;
            column-gap: 500px;
  }
  .footer__info .footer__list .footer__list-1 span,
  .footer__info .footer__list .footer__list-2 span {
    font-size: 2em;
  }
  .sci i {
    width: 76px;
    height: 76px;
    margin-right: 30px;
    font-size: 34px;
  }
}
/*# sourceMappingURL=style.css.map */